[user]
	name = Rob Cannon
	email = rcannon@acceleratelearning.com
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[fetch]
	prune = true
[push]
	default = simple
[init]
	defaultBranch = main
[help]
	autocorrect = 1
[pull]
	rebase = false
[core]
	editor = code --wait
