[user]
	name = Rob Cannon
	email = rob.cannon@equifax.com
[credential]
	helper = store
[fetch]
	prune = true
[push]
	default = simple
[init]
	defaultBranch = main
[help]
	autocorrect = 1
[pull]
	rebase = false
[core]
	editor = code --wait
